*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
#App{
  height: 100vh;
  display:grid;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  grid-auto-columns: 100vw;
}
.Chat {
  text-align: center;
}

.Chat-logo {
  margin: 40vh 45vw;
  animation: Chat-logo-spin infinite 5s linear;
  width: 100px;
  pointer-events: none;
}

.Chat-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}
.Chat-header>img{
  width: 50px;
}
.Chat-box{
  widows: 100%;
  overflow-y:scroll;
  background-color:#4E7093;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 0.9fr;
  justify-content: space-around;
  grid-gap: 20px;
}
.Chat-link {
  color: #61dafb;
}
@keyframes Chat-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.send-message-form{
  display: flex;
  justify-content: center;
}
.send-message-form >input{
  flex:0.99;
}
/*Icons are form https://www.freepik.com/ */