.message{
    display: grid;
    grid-gap: 3px;
    padding: 5px;
    border-radius: 5px;
    border: 0.1px solid lightgray;
    justify-content: space-around;
    align-items: center;
    grid-auto-rows: min-content;
}
.message-edit{
    height: 20px;
    width: 20px;
    background: #C0DCEB;
    border: none;
    line-height: 20px;
    font-size: 20px;
}
.message-like{
    grid-row: 1/-1;
    position: relative;
    line-height: 20px;
    font-size: 20px;
}
.message-like input{
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: -10;
    opacity: 0;
}
.message-like input:checked+label{
    color: gold;
}
.message--someone{
    background-color: white;
    grid-template-columns: 0.1fr 1fr 0.1fr;
}
.message--me{
    background-color:#C0DCEB;
    grid-template-columns: 1fr 0.1fr;
}
.message--me>.message-header{
    grid-column: 1/1;
}
.message-header{
    grid-row: 1/2;
    grid-column: 2/2;
}
.message-header>span{
    font-size: 0.7em;
}
.message-avatar{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80px;
}
.message-text{
    grid-column: 1/3;
    grid-row: 2/2;
}